footer {
    margin-top: 10rem;
    padding: 1.5rem;
    height: 20rem;
}
footer > .absolute-container {
    position: absolute;
    left: 0; right: 0;
    height: fit-content;
    border-top: solid var(--col-accent0) 2px;
}
footer .content {
    margin: 0 auto;
    padding-top: 2.618rem;
    max-width: var(--column-width);
    height: 100%;

    display: flex;
    flex-flow: column;
}
hr {
    margin: 1rem 0;
    border:none;
    border-top: solid var(--col-accent0) 1px;
}


.logo {
    user-select: none;
    width: auto;
    height: 100%;
}


.content > .start-button {
    margin: 0 0 0 auto;
    width: fit-content;
}
.content > .quit-button {
    margin: 0 0 0 auto;
    width: fit-content;
}

.content > .upper {
    height: 7rem;

    display: flex;
    flex-wrap: nowrap;
    gap: 2rem;
}
.upper > p {
    margin: 0;
    padding-right: 5rem;
    height: fit-content;
    text-align: left;
    color: var(--col-accent0);
}

.content > .lower {
    padding-top: 1rem;
    height: fit-content;

    display: flex;
    flex-flow: column;
}
.lower > * {
    margin: 0 0 0 auto;
    width: fit-content;
}
.lower > p {
    color: var(--col-accent0);
}

.start {
    font-size: 1rem;
    margin-left: auto;
    padding: .25rem 1rem;
    width: fit-content;
    background-color: rgba(0,0,0,0.25);
    color: var(--col-accent1);
    border: solid 1px var(--col-accent0);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 50ms ease-out, color 50ms ease-out;
}
.start:hover {
    background-color: var(--col-accent0);
    color: var(--col-primary);
}
.quit {
    text-align: right;
    cursor: pointer;
    text-decoration: underline;
    color: var(--col-accent0);
}

@media (max-width: 725px) {
    .content {
        width: 80svw;
        max-width: var(--mobile-column-width) !important;
    }
    .logo {
        height: 50%;
    }
    
    .upper {
        margin-bottom: 4.236rem;
    }
    .upper > p {
        padding-right: 0;
    }
    .lower {
        padding: 0 0 1.618rem !important;
    }
    .lower > p {
        margin: 0 auto;
        padding: 0;
        font-size: 1rem;
    }
}