header {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: .25rem;
    height: 2rem;

    background-color: rgba(0, 0, 0, 50%);
    backdrop-filter: blur(5px);
    border-radius: 0 0 10px 10px;
}
header > .content {
    margin: 0 auto;
    max-width: 30rem;
    height: 100%;

    display: flex;
    flex-wrap: nowrap;
}


.logo {
    max-height: 100%;
}


header > .content > .right-content {
    margin: 0 0 0 auto;
    
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

.user-stat-container {
    margin-left: auto;
    display: flex;
    gap: .75rem;

    height: 100%;
}
.stat-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: .125rem;

    height: 100%;
}
.stat-container > img {
    height: 65%;
    margin: 0;
    padding: 0;
}