.content {
    margin: 0 auto;
    width: 45rem;
}

.user-stat-container {
    padding: 0 .5rem;
    height: 2.75rem;
    width: fit-content;

    display: flex;
    align-items: center;
    gap: 1rem;

    border: solid 1px var(--col-accent0);
    border-radius: 8px;
}
.stat-container {
    display: flex;
    flex-wrap: nowrap;
    gap: .325rem;

    height: 50%;
}
.stat-container img {
    height: 100%;
}
.stat-container p {
    margin: 0;
    color: var(--col-accent1);
}


.greetings-container {
    width: 62%;
}
.greetings-content {
    padding: 1.25rem;
    border-radius: 8px;
    border: solid 1px var(--col-accent0);
}
.greetings-content h1 {
    color: var(--col-secondary);
    margin: 0 0 1.25rem;
    padding: 0;
    line-height: 2.5rem;
    font-size: 2.5rem;
    font-family: var(--header-font);
    text-align: left;
    width: 100%;
}
.greetings-content p {
    color: var(--col-accent1);
    margin: 0;
    padding: 0;
    line-height: 1.75rem;
    font-size: 1rem;
    text-align: left;
    width: 100%;
}

.continue-activity-button {
    margin: 1rem 0 0;
    padding: .25rem .5rem;
    width: 100%;
    height: 2.5rem;
    letter-spacing: .5px;
    font-family: var(--paragraph-font);
    font-weight: 600;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.25);
    color: var(--col-accent1);
    border: solid 1px var(--col-accent1);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 50ms ease-out, color 50ms ease-out;
}
.continue-activity-button:hover {
    color: var(--col-primary);
    background-color: var(--col-accent1);
}

.material-container {
    margin: 3rem 0 0;
}
.material-container > h1 {
    margin: 0 0 1rem;
    font-family: var(--header-font);
    font-size: 3rem;
    letter-spacing: 3px;
    color: var(--col-accent0);
}
.material-card-container {
    width: 100%;
    padding-bottom: 1rem;
    overflow-x: scroll;
    scrollbar-width:thin;
    scrollbar-color: var(--col-accent0) color-mix(in srgb, var(--col-accent0) 15%, transparent);
    scroll-behavior: smooth;
    display: flex;
    gap: 1rem;
}

.material-card {
    padding: 1rem;
    cursor: pointer;
    min-width: 15rem;
    width: 15rem;
    height: 18rem;
    background-color: rgba(180, 68, 255, 0.15);
    border: solid 1px var(--col-accent0);
    border-radius: 10px;
    transition: transform 50ms ease-out;
}
.material-card:active {
    transform: scale(0.98);
}
.material-card > .lvl {
    margin: 0;
    font-weight: 200;
    font-size: .85rem;
    letter-spacing: 1px;
    color: var(--col-secondary);
}
.material-card > .title {
    margin: 0;
    white-space: normal;
    word-wrap: normal;
    overflow-wrap: anywhere;
    line-height: 2.25rem;
    font-family: var(--header-font);
    font-size: 1.75rem;
    color: var(--col-secondary);
}
.material-card > .desc {
    margin: 1.125rem 0 0;
    white-space: normal;
    word-wrap: normal;
    overflow-wrap: anywhere;
    text-align: left;
    line-height: 1.325rem;
    font-weight: 400;
    font-size: 1rem;
    font-family: var(--paragraph-font);
    color: var(--col-secondary);
}
.material-card-locked {
    cursor: not-allowed;
    background: linear-gradient( to bottom, rgba(180, 68, 255, 0.10), transparent);
    border-color: rgba(180, 68, 255, 0.25);
}