.content {
    margin: 0 auto;
    width: 45rem;
}

.heading-container {
    margin-top: 1.618rem;
    position: relative;
    display: flex;
    width: 100%;
}
.mascot {
    position: absolute !important;
    right: 0px;
    bottom: 0px;
}


.greetings-container {
    width: 62%;
}
.greetings-content {
    padding: 1.25rem;
    border-radius: 8px;
    border: solid 1px var(--col-accent0);
}
.greetings-content h1 {
    color: var(--col-secondary);
    margin: 0 0 1.25rem;
    padding: 0;
    line-height: 2.618rem;
    font-size: 2.618rem;
    font-family: var(--header-font);
    text-align: left;
    width: 100%;
}
.greetings-content p {
    color: var(--col-accent1);
    margin: 0;
    padding: 0;
    text-align: left;
    width: 100%;
}
.gradient-heading {
  background: linear-gradient( to right, var(--col-accent1), var(--col-accent0));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.continue-activity-button {
    margin: 1rem 0 0;
    padding: .618rem 1rem;
    width: 100%;
    height: auto;
    letter-spacing: .25px;
    font-family: var(--paragraph-font);
    font-weight: 600;
    font-size: 1rem;
    background-color: rgba(0,0,0,0.25);
    color: var(--col-secondary);
    border: solid 1px var(--col-accent1);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 50ms ease-out, color 50ms ease-out;
}
.continue-activity-button:hover, .continue-activity-button:active {
    color: var(--col-primary);
    background-color: var(--col-accent1);
}
.continue-activity-button img {
    user-select: none;
    pointer-events: none;
    margin-left: 0.382rem;
    width: 0.85rem;
    translate: 0 1px
}

.material-container {
    margin: 4rem 0 0;
}
.material-container > h1 {
    margin: 0 auto 1rem;
    width: fit-content;
    background: linear-gradient( to right, var(--col-accent1), var(--col-accent0));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}
.material-card-container {
    width: 100%;
    padding-bottom: 1rem;
    overflow-x: scroll;
    scrollbar-width:thin;
    scrollbar-color: var(--col-accent0) color-mix(in srgb, var(--col-accent0) 15%, transparent);
    scroll-behavior: smooth;
    display: flex;
    gap: 1.618rem;
}

.material-card {
    position: relative;
    padding: 1rem;
    cursor: pointer;
    min-width: 17rem;
    width: 17rem;
    height: 20.646rem;
    background-color: rgba(180, 68, 255, 0.15);
    border: solid 1px var(--col-accent0);
    border-radius: 10px;
    transition: transform 50ms ease-out;
}
.material-card:active {
    transform: scale(0.98);
}
.material-card > .lvl {
    margin: 0;
    font-weight: 200;
    letter-spacing: 0.25px;
    color: var(--col-secondary);
}
.material-card > .title {
    margin: 0;
    white-space: normal;
    word-wrap: normal;
    overflow-wrap: normal;
    color: var(--col-secondary);
}
.material-card > .desc {
    margin: 1.125rem 0 0;
    white-space: normal;
    word-wrap: normal;
    overflow-wrap: anywhere;
    text-align: left;
    font-weight: 400;
    color: var(--col-secondary);
}
.material-card-locked {
    position: relative;
    cursor: not-allowed;
    background: linear-gradient( to bottom, rgba(180, 68, 255, 0.10), transparent);
    border-color: rgba(180, 68, 255, 0.25);
}
.material-card-locked img {
    margin-left: 0.382rem;
    width: 0.5rem;
}


.material-card-misc {
    position: absolute;
    right:0; bottom: 0; left: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.material-card-misc > p {
    margin: 0;
    color: color-mix(in srgb, var(--col-secondary) 50%, transparent);
}
.material-card-misc > img {
    user-select: none;
    pointer-events: none;
    margin-left: auto;
    width: 1rem;
}




@media (max-width: 1140px) {

    .continue-activity-button {
        font-size: 1.272rem;
    }
    .material-card > .lvl {
        font-size: 1rem;
    }

    .material-card > .desc, .material-card-misc > p {
        font-size: 1.128rem;
    }
}


@media (max-width: 725px) {
    .content {
        width: var(--mobile-column-width);
    }

    .mascot {
        bottom: 25%;
        right: -5%;
    }
    .greetings-container {
        width: 100%;
    }
    .greetings-content {
        width: 50%;
        padding-right: 1rem;
    }

    .material-container {
        margin-top: 4.236rem;
    }
    .material-card > .title {
        font-size: 2.058rem;
        line-height: 2.058rem;
    }
}