.content {
    margin: 0 auto;
    width: 45rem;
}

.hero {
  margin: 0 0 2rem;
}
.herotextart {
  margin: 0 0 0 auto;
  padding: 1rem 1.5rem;
  width: 23rem;
  background-color: color-mix(in srgb, var(--col-accent0) 35%, transparent);
  border-radius: 8px;
}
.herotextart > h1 {
  margin: 0 0 1.5rem;
  line-height: 2rem;
  font-family: var(--header-font);
  color: var(--col-secondary);
  text-align: left;
}
.herotextart > p {
  margin: 0 0 0 4rem;
  color: var(--col-secondary);
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}
.hero-start-button {
  cursor: pointer;
  display: block;
  padding: .5rem 1rem;
  margin: 2rem auto 0;
  font-family: var(--header-font);
  font-size: 1.75rem;
  color: var(--col-primary);
  background-color: var(--col-accent0);
  border: none;
  border-radius: 10px;
}

.textart0 {
  margin: 0 auto 0 0;
  padding: 1rem 1.5rem;
  width: 25rem;
  background-color: color-mix(in srgb, var(--col-accent0) 25%, transparent);
  border-radius: 8px;
}
.textart0 > h1 {
  margin: 0 0 1.5rem;
  line-height: 2rem;
  font-family: var(--header-font);
  color: var(--col-secondary);
  text-align: left;
}
.textart0 > p {
  margin: 0 0 0 4rem;
  color: var(--col-secondary);
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}

.textart1 {
  margin: 0 0 0 auto;
  padding: 1rem 1.5rem;
  width: 25rem;
  background-color: color-mix(in srgb, var(--col-accent1) 25%, transparent);
  border-radius: 8px;
}
.textart1 > h1 {
  margin: 0 0 1.5rem;
  line-height: 2rem;
  font-family: var(--header-font);
  color: var(--col-secondary);
  text-align: left;
}
.textart1 > p {
  margin: 0 0 0 4rem;
  color: var(--col-secondary);
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}


.textart2 {
  margin: 0 auto 0;
  padding: 1rem 1.5rem;
  width: 75%;
  background-color: color-mix(in srgb, var(--col-accent0) 25%, transparent);
  border-radius: 8px;
}
.textart2 > h1 {
  margin: 0 0 1.5rem;
  line-height: 2rem;
  font-family: var(--header-font);
  color: var(--col-secondary);
  text-align: left;
}
.textart2 > p {
  margin: 0 0 0 4rem;
  color: var(--col-secondary);
  font-size: 1rem;
  font-weight: 300;
  text-align: left;
}
.start-button {
  cursor: pointer;
  display: block;
  padding: .5rem 1rem;
  margin: 2rem auto 0;
  font-family: var(--header-font);
  font-size: 1.75rem;
  color: var(--col-primary);
  background-color: var(--col-accent0);
  border: none;
  border-radius: 10px;
}