.content {
  margin: 0 auto;
  width: var(--column-width);
  padding-bottom: 2rem;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 100svh;
  margin: 0;
}
.herotextart {
  position: relative;
  margin: 0;
  padding-bottom: 12rem;
  border-radius: 8px;
}
.herotextart > h1 {
  margin: 0;
  color: var(--col-secondary);
  text-align: left;
}
.gradient-heading {
  background: linear-gradient( to right, var(--col-accent1), var(--col-accent0));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.herotextart > p {
  max-width: 29.03rem;
  margin: 1.618rem 0 0;
  color: var(--col-secondary);
  font-weight: 300;
  text-align: left;
}
.start-button {
  position: relative;
  cursor: pointer;
  display: block;
  padding: 0.618rem 2.618rem;
  margin: 2.618rem auto 0;
  font-family: var(--header-font);
  font-size: 1.618rem;
  color: var(--col-primary);
  background: linear-gradient( to right, var(--col-accent1), var(--col-accent0));
  background-color: transparent;
  border: none;
  border-radius: 10px;
  transition: all 100ms ease-out;
}
.hero .start-button {
  background: var(--col-accent1);
  margin: 2.618rem 0 0 13rem;
}
.start-button:hover {
  transform: scale(1.05);
}
.start-button:active {
  transform: scale(0.95);
}

.star0, .star1 {
  position: absolute;
  height: auto;
  will-change: transform;
}
.start-button .star0 {
  bottom: -1.325rem;
  left: -1.325rem;
  width: 2.5rem;
  animation: starblink 0.9832s ease-in-out 0s alternate infinite;
}
.start-button .star1 {
  top: -2rem;
  right: -2rem;
  width: 4rem;
  animation: starblink 1.3489s ease-in-out 0s alternate infinite;
}
.hero .start-button .star0 {
  bottom:auto;
  left: auto;
  top: -1.618rem;
  right: -1.618rem;
  width: 3.25rem;
  animation: starblink 0.7432s ease-in-out 0s alternate infinite;
}
.hero .start-button .star1 {
  top: auto;
  right: auto;
  bottom: -1.5rem;
  left: -1.5rem;
  width: 3rem;
  animation: starblink 1.4337s ease-in-out 0s alternate infinite;
}
.guide-arrow {
  position: absolute;
  height: auto;
  bottom: 6rem;
  right: 0;
  width: 1rem;
}


section {
  display: flex;
  place-items: center;
  gap: 1rem;
  margin: 17.942rem auto 0;
  width: fit-content;
  border-radius: 8px;
}
section h2, h1 {
  text-align: left;
}
section p {
  margin: 0;
  max-width: 17.942rem;
  color: var(--col-secondary);
  font-weight: 300;
  text-align: left;
}

.section1 {
  gap: 0.618rem;
  flex-direction: row-reverse;
}
.section2 h1 {
  margin: 0 0 1.618rem;
  font-size: 4.235rem;
  line-height: 4.235rem;
}


@media (max-width: 725px) {
  .content {
    width: var(--mobile-column-width);
  }

  .herotextart p, section p {
    margin: 0 auto;
    max-width: inherit;
    font-size: 1.618rem;
    padding: 0 0.618rem;
    text-align: center;
  }
  .introtext {
    font-size: 2.618rem;
  }

  section, .section1 {
    flex-direction: column-reverse;
    gap: 1.618rem;
  }
  section h1, h2 {
    padding: 0 1.618rem;
    text-align: center !important;
  }
  section h2 {
    font-size: 2.618rem;
    line-height: 2.618rem;
  }
  
  .hero {
    align-items: center;
    padding-bottom: 0;
  }
  .hero-mascot {
    top: -50% !important;
    left: 15% !important;
  }
  .herotextart {
    padding-top: 15rem;
    padding-bottom: 0rem;
  }
  .herotextart > h1 {
    margin: 0 auto;
    text-align: center;
    width: 29.03rem;
  }
  .herotextart > p {
    margin: 1.618rem auto 0;
    text-align: center;
  }
  .start-button {
    padding: 0.618rem 6.854rem;
  }
  .hero .start-button {
    margin: 2.618rem auto 0;
  }
  
  .guide-arrow {
    right: 50%;
    transform: translateX(50%);
  }
}

@keyframes starblink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.75);
  }
}