.content {
  margin: 0 auto;
  width: var(--column-width);
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.splash-container {
  position: relative;
  margin: 0;
  pointer-events: none;
  width: 100%;
  height: 10rem;
  translate: -2.25% -2rem;
}
.splash-bg {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 25rem;
  top: -12rem;
  left: 0;
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
}
.splash-fg {
  position: absolute;
  width: 40%;
  height: auto;
  top: -65%;
  left: 50%;
  transform: translate(-50%, 0);
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  mask-image: url("/NotFoundArtFGMask.svg");
}

.back-button {
  cursor: pointer;
  display: block;
  padding: .5rem 1rem;
  margin: 0 auto;
  font-family: var(--header-font);
  font-size: 1.75rem;
  color: var(--col-primary);
  background-color: var(--col-accent0);
  border: none;
  border-radius: 10px;
}

@media (max-width: 725px) {
  .content {
    width: var(--mobile-column-width);
  }  
  .splash-fg {
    top: -52%;
    width: 65%;
  }
}