.content {
	margin: 0 auto;
	width: 45rem;
}

.quiz-header {
	margin: 0 auto;
	display: flex;
	align-items: start;
	gap: 1rem;
	width: 100%;
}
.quiz-stat-container {
	display:flex;
	align-items: baseline;
	gap: 0.5rem;
	font-family: var(--header-font);
}
.quiz-stat-container h1 {
	margin: 0;
	color: var(--col-accent0);
	font-size: 3.5rem;
}
.quiz-stat-container h2 {
	margin: 0;
	color: color-mix(in srgb, var(--col-accent0) 20%, transparent);
	-webkit-text-stroke: .75px color-mix(in srgb, var(--col-accent0) 65%, transparent);
	letter-spacing: 3px;
	font-size: 2.75rem;
}
.quiz-reward-display {
    display: flex;
    padding: .125rem .25rem;
	margin-left: auto;
    align-items: center;
    height: fit-content;
    gap: .5rem;
    color: var(--col-accent1);
    border-radius: 8px;
    border: solid 1.125px color-mix(in srgb, var(--col-accent1) 50%, transparent);
  	font-family: var(--paragraph-font);
}

.quiz-question-container {
	width: calc(100% - 2rem);
	padding: 1rem 1rem;
	display:flex;
	gap: 1rem;
	border: solid 1px var(--col-accent0);
	border-radius: 8px;
}
.quiz-question-container p {
	margin: 0;
	width: 100%;
	text-align: left;
	font-size: 1.125rem;
	line-height: 1.325rem;
}
.quiz-question-container img {
	cursor: pointer;
	pointer-events: all;
	margin: 0;
	width: 1.125rem;
}

.quiz-confirm-btn {
	cursor: pointer;
	display: flex;
	gap: .5rem;
	align-items: center;
	padding: .5rem 1rem;
	margin: 0 auto;
	font-family: var(--header-font);
	font-size: 1.75rem;
	letter-spacing: 1px;
	color: var(--col-secondary);
	background: linear-gradient(to bottom, color-mix(in srgb, var(--col-accent0) 25%, transparent), transparent);
	border: solid 1.25px var(--col-accent0);
	border-radius: 8px;
}
.quiz-confirm-btn:disabled {
	color: color-mix(in srgb, var(--col-accent0) 60%, transparent);
	background: none;
}
.quiz-reward-display p,img {
    pointer-events: none;
    margin: 0;
    height: 100%;
    font-weight: 500;
	font-size: 1rem;
    text-align: left;
}

/* ======================================= MATCHING QUESTION CSS ======================================= */
.matching-quiz-option-container {
	padding: 1rem 0;
	display: grid;
	gap: 1rem;
	/* TODO: MAKE DYNAMIC */
	grid-template-columns: repeat(3, 1fr);
}
.matching-quiz-option {
	cursor: pointer;
	display: block;
    padding: .25rem .5rem .5rem;
    color: var(--col-secondary);
    border-radius: 8px;
    background: color-mix(in srgb, var(--col-accent1) 10%, transparent);
    border: solid 1.125px color-mix(in srgb, var(--col-accent1) 50%, transparent);
	margin: 0;
  	font-family: var(--paragraph-font);
	font-size: 1rem;
	text-align: center;
}
.matching-quiz-option:disabled {
	color: var(--col-accent1);
	background: none;
}
.matching-quiz-option-correct {
	color: var(--col-semantic-success) !important;
    background: color-mix(in srgb, var(--col-semantic-success) 20%, transparent) !important;
    border: solid 2.125px color-mix(in srgb, var(--col-semantic-success) 30%, transparent) !important;
	animation: anim-quiz-correct-option-0 250ms cubic-bezier(.14,.84,.72,1.33) 0ms forwards;
}
.matching-quiz-option-incorrect {
	color: var(--col-semantic-failure) !important;
    background: color-mix(in srgb, var(--col-semantic-failure) 20%, transparent) !important;
    border: solid 2.125px color-mix(in srgb, var(--col-semantic-failure) 30%, transparent) !important;
	animation: anim-quiz-incorrect-option-0 200ms ease-out 0ms forwards;
}



/* ======================================= FINISH PAGE CSS ======================================= */
.quiz-fin-header {
	margin-bottom: 2rem;
}	
.quiz-fin-header h1 {
	margin: .5rem auto 0;
	max-width: 65%;
	font-family: var(--header-font);
	font-size: 1.5rem;
}

.quiz-fin-content {
	width: fit-content;
	margin: 1rem auto 2rem;
}
.quiz-fin-stat-container {
	margin: 1rem 0 2rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	align-items: center;
	gap: 1rem;
}
.quiz-fin-stat-coin {
	padding: 1rem 2rem;
	border: solid 3px color-mix(in srgb, var(--col-accent1) 50%, transparent);
	border-radius: 8px;
	opacity: 0;
	animation: anim-quiz-fin-stat 400ms cubic-bezier(.42,1.9,.92,1.38) 0ms forwards;
}
.quiz-fin-stat-coin img {
	pointer-events: none;
	margin: 0;
	width: 6rem;
}
.quiz-fin-stat-coin h2 {
	margin: 0;
	width: 100%;
	color: var(--col-accent1);
	font-weight: 500;
	font-size: 1.625rem;
}
.quiz-fin-stat-accuracy {
	padding: 1rem 2rem;
	border: solid 3px color-mix(in srgb, var(--col-accent0) 50%, transparent);
	border-radius: 8px;
	opacity: 0;
	animation: anim-quiz-fin-stat 400ms cubic-bezier(.42,1.9,.92,1.38) 300ms forwards;
}
.quiz-fin-stat-accuracy img {
	pointer-events: none;
	margin: 0;
	width: 5rem;
}
.quiz-fin-stat-accuracy h2 {
	margin: 0;
	width: 100%;
	color: var(--col-accent0);
	font-weight: 500;
	font-size: 1.625rem;
}

.quiz-fin-btn {
	display: block;
	margin: 0 auto;
	width: 100%;
	cursor: pointer;
	padding: .5rem 2rem;
	font-family: var(--header-font);
	font-size: 1.75rem;
	letter-spacing: 1px;
	color: var(--col-secondary);
	background: linear-gradient(to bottom, color-mix(in srgb, var(--col-accent0) 25%, transparent), transparent);
	border: solid 1.25px var(--col-accent0);
	border-radius: 8px;
}

@keyframes anim-quiz-fin-stat {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}



@keyframes anim-quiz-correct-option-0 {
	0% { transform: translateY(0); }
	35% { transform: translateY(-5px); }
	100% { transform: translateY(0); }
}
@keyframes anim-quiz-incorrect-option-0 {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}