.content {
	margin: 0 auto;
	width: 50rem;
	height: calc(100svh - 10rem);
	display:flex;
	flex-direction: column;
	justify-content: center;
}
.gradient-heading {
	background: linear-gradient( to right, var(--col-accent1), var(--col-accent0));
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.quiz-mascot-container {
	position: relative;
	width: 23rem;
	height: 15rem;
}
.quiz-mascot {
	position: absolute !important;
	width: 100%;
	z-index: -1;
	bottom: 0;
}
.quiz-detail-container {
	width: 100%;
}
.quiz-header {
	margin: 0 auto;
	display: flex;
	align-items: end;
	gap: 1rem;
	width: 100%;
}
.quiz-stat-container {
	margin-bottom: .618rem;
	display:flex;
	align-items: baseline;
	gap: .5rem;
	font-family: var(--header-font);
}
.quiz-stat-container h1 {
	text-align: left;
	white-space: nowrap;
	margin: 0;
	color: var(--col-accent0);
}
.quiz-stat-container .leftovr {
	margin: 0;
	color: color-mix(in srgb, var(--col-accent0) 35%, transparent);
	-webkit-text-stroke: 1px color-mix(in srgb, var(--col-accent0) 65%, transparent);
	letter-spacing: 3px;
}
.quiz-reward-display {
    display: flex;
    padding: .125rem .25rem;
	margin-left: auto;
    align-items: center;
    height: fit-content;
    gap: .5rem;
    color: var(--col-accent1);
    border-radius: 8px;
    border: solid 1.125px color-mix(in srgb, var(--col-accent1) 50%, transparent);
  	font-family: var(--paragraph-font);
}

.quiz-question-container {
	width: calc(100% - 2rem);
	padding: 1rem 1rem;
	display:flex;
	gap: 1rem;
	border: solid 1px var(--col-accent0);
	border-radius: 8px;
}
.quiz-question-container p {
	margin: 0;
	width: 100%;
	text-align: left;
}
.quiz-question-container img {
	cursor: pointer;
	pointer-events: all;
	margin: 0;
	width: 1.125rem;
}

.quiz-confirm-btn {
	cursor: pointer;
	display: flex;
	gap: .5rem;
	align-items: center;
	padding: .5rem 4.75rem;
	margin: 0 auto;
	font-family: var(--header-font);
	font-size: 1.75rem;
	letter-spacing: 1px;
	color: var(--col-secondary);
	background: linear-gradient(to bottom, color-mix(in srgb, var(--col-accent0) 25%, transparent), transparent);
	border: solid 1.25px var(--col-accent0);
	border-radius: 8px;
}
.quiz-confirm-btn:disabled {
	cursor: default;
	color: color-mix(in srgb, var(--col-accent0) 60%, transparent);
	background: none;
}
.quiz-reward-display p,img {
    pointer-events: none;
    margin: 0;
    height: 100%;
    font-weight: 500;
	font-size: 1rem;
    text-align: left;
}

/* ======================================= MULTCHOICE QUESTION CSS ======================================= */
.multchoice-quiz-option-container {
	padding: 1rem 0;
	display: grid;
	gap: 1rem;
	grid-template-columns: 1fr;
	width: 100%;
}
.multchoice-quiz-option {
	cursor: pointer;
	display: block;
    padding: .272rem .618rem .618rem;
	box-sizing: border-box;
    color: var(--col-secondary);
    border-radius: 8px;
    background: color-mix(in srgb, var(--col-accent1) 10%, transparent);
    border: solid 1.125px color-mix(in srgb, var(--col-accent1) 50%, transparent);
	margin: 0;
  	font-family: var(--paragraph-font);
	font-size: 1rem;
	text-align: center;
}
.multchoice-quiz-option:hover:enabled {
    background: color-mix(in srgb, var(--col-accent1) 20%, transparent);
}
.multchoice-quiz-option:disabled {
	cursor: default;
	color: var(--col-accent1);
	background: none;
}
.multchoice-quiz-option-correct {
	color: var(--col-semantic-success) !important;
    background: color-mix(in srgb, var(--col-semantic-success) 20%, transparent) !important;
    border: solid 1.125px var(--col-semantic-success) !important;
	animation: anim-quiz-correct-option-0 250ms cubic-bezier(.14,.84,.72,1.33) 0ms forwards;
}
.multchoice-quiz-option-incorrect {
	color: var(--col-semantic-failure) !important;
    background: color-mix(in srgb, var(--col-semantic-failure) 20%, transparent) !important;
    border: solid 1.125px var(--col-semantic-failure) !important;
	animation: anim-quiz-incorrect-option-0 200ms ease-out 0ms forwards;
}



/* ======================================= FINISH PAGE CSS ======================================= */
.quiz-fin-header {
	margin-top: 2.618rem;
}
.quiz-fin-header .mascot {
	margin: 0 auto;
}
.quiz-fin-header h2 {
	margin: 0 auto;
	font-size: 1.618rem;
	line-height: 1.618rem;
	max-width: 75%;
}

.quiz-fin-content {
	width: fit-content;
	margin: 1rem auto 0;
}
.quiz-fin-stat-container {
	margin: 0 0 1rem;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: 1fr;
	justify-items: stretch;
	gap: 1rem;
}
.quiz-fin-stat-coin, .quiz-fin-stat-lvl, .quiz-fin-stat-accuracy {
	padding: 1rem .618rem;
	border: solid 3px color-mix(in srgb, var(--col-accent1) 50%, transparent);
	border-radius: 8px;
	opacity: 0;
	animation: anim-quiz-fin-stat 500ms cubic-bezier(.42,1.9,.92,1.38) 150ms forwards;
}
.quiz-fin-stat-coin img, .quiz-fin-stat-lvl img, .quiz-fin-stat-accuracy img {
	pointer-events: none;
	margin: 0;
	width: 3rem;
	height: auto;
}
.quiz-fin-stat-coin p, .quiz-fin-stat-lvl p, .quiz-fin-stat-accuracy p {
	text-align: center;
	margin: 0 .618rem;
	color: var(--col-accent1);
	font-weight: 500;
}
.quiz-fin-stat-accuracy {
	border: solid 3px color-mix(in srgb, var(--col-accent0) 50%, transparent);
	animation: anim-quiz-fin-stat 500ms cubic-bezier(.42,1.9,.92,1.38) 600ms forwards;
}
.quiz-fin-stat-accuracy p {
	color: var(--col-accent0);
}
.quiz-fin-stat-lvl {
	animation: anim-quiz-fin-stat 500ms cubic-bezier(.42,1.9,.92,1.38) 1100ms forwards;
}

.quiz-fin-btn {
	display: block;
	margin: 0 auto;
	width: 100%;
	cursor: pointer;
	padding: .5rem 2rem;
	font-family: var(--header-font);
	font-size: 1.75rem;
	letter-spacing: 1px;
	color: var(--col-secondary);
	background: linear-gradient(to bottom, color-mix(in srgb, var(--col-accent0) 25%, transparent), transparent);
	border: solid 1.25px var(--col-accent0);
	border-radius: 8px;
}

@keyframes anim-quiz-fin-stat {
	from {
		opacity: 0;
		transform: translateY(25px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}


@media (max-width: 1140px) {
	.multchoice-quiz-option {
		font-size: 1.618rem;
	}
	.quiz-fin-header h2 {
		font-size: 2.058rem;
		line-height: 2.058rem;
	}
}

@media (max-width: 725px) {
    .content {
        width: var(--mobile-column-width);
    }

	.quiz-mascot-container {
		width: 100%;
	}
	.quiz-mascot {
		left: 50% !important;
		transform: translateX(-50%);
	}
	.quiz-header {
		flex-direction: column;
		align-items: center;
	}
	.quiz-detail-container {
		width: 100%;
	}
	.multchoice-quiz-option-container {
		gap: 1.272rem;
	}
	.multchoice-quiz-option {
		font-size: 1.272rem;
	    padding: 1.272rem 1rem;
	}
	
	.quiz-fin-stat-container {
		margin: 1.618rem 0;
	}
	.quiz-fin-header h2 {
		margin-top: 1rem;
		max-width: 100%;
	}
}



@keyframes anim-quiz-correct-option-0 {
	0% { transform: translateY(0); }
	35% { transform: translateY(-5px); }
	100% { transform: translateY(0); }
}
@keyframes anim-quiz-incorrect-option-0 {
  0% { transform: translateX(0); }
  20% { transform: translateX(-5px); }
  40% { transform: translateX(5px); }
  60% { transform: translateX(-5px); }
  80% { transform: translateX(5px); }
  100% { transform: translateX(0); }
}