#root {
  z-index: 0;
  margin: 0 auto;
  padding-top: 5rem;
  
  width: 100vw;
  max-width: 1280px;
  height: fit-content;
  min-height: 100vh;
  
  text-align: center;
}

body {
  /* TODO: Test later */
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
