#root {
  z-index: 0;
  margin: 0 auto;
  padding-top: 5rem;
  
  width: 100vw;
  max-width: 1280px;
  height: fit-content;
  min-height: 100vh;

  --column-width: 60rem;
  --mobile-column-width: 30rem;

  text-align: center;
}

p {
  font-size: 1rem;
}
h1 {
  font-family: var(--header-font);
  line-height: 4.235rem;
  font-size: 4.235rem;
}
h2 {
  font-family: var(--header-font);
  line-height: 2.168rem;
  font-size: 2.168rem;
}
h3 {
  font-family: var(--header-font);
  line-height: 1rem;
  font-size: 1rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



@media (max-width: 1140px) {
  p {
    font-size: 1.618rem;
  }
  h2 {
    line-height: 2.758rem;
    font-size: 2.758rem;
  }
}
@media (max-width: 725px) {
  p {
    font-size: 1.272rem;
  }
}